<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
        </script>
        <script src="http://localhost:8000/ng_sub.js"></script>
		<link href="http://localhost:8000/ng_submit.css" rel="stylesheet" type="text/css"/>
	</head>
	
	<body ng-app="myapp" ng-controller="myctrl" >

		<div ng-include="'http://localhost:8000/menu_bar.html'"></div>
		<br><br>
		<input type="text" placeholder="search " ng-model="search"/>
		
		<ul>
			<li ng-repeat="x in colors | orderBy:order | filter: search" >
			
			<h3>{{x.name}}</h3>
			
			<div class="remove" ng-click="removeColor(x)">X</div>
			
			<span id="color" style= " background: {{x.color}}">{{x.color}} color</span>
			
			</li>
		</ul>
		<button ng-click=" order = 'name'">order by name</button>
        <button ng-click=" order = 'color'">order by color</button><br>
        <form ng-submit="addNewfruit()" align="center" class="frm">
            <input type="text" placeholder="name" ng-model="new.name"/><br><br>
            <input type="text" placeholder="color" ng-model="new.color"/><br>
            <input type="submit" value="add new fruit"/>
        </form>
	</body>
</html>