<style>
table, th , td {
  border: 1px solid rgb(221, 23, 23);
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #b89797;
}
table tr:nth-child(even) {
  background-color: #c2d6af;
}
</style>